{% extends 'GatewayWeb/gwbase.html' %}
{% load staticfiles %}
{% block title %}
DELETE USER
{% endblock title %}

{% block gwcontents %}
    <div class="container text-left">
        <div class="row">
            <h1>ユーザーを削除</h1>
        </div>
        <div class="row">
            <h2>{{ object.username }}を本当に削除しますか?</h2>
        </div>
        <div class="row">
            <div class="col-md-5">
                <form class="my-form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div>
                            <input type="submit" class="btn btn-danger"  value="削除">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock gwcontents %}